*{
	margin: 0;
	padding: 0;
	font-family: 'Inconsolata', monospace;}
body{
	height: 100vh;
	overflow: hidden;
	background: #111;
}
.app{
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* controler */

.app_controler{
	width: 70%;
	height: 80%;
	position: relative
}
.app_controler_start{
	position: absolute;
	top: 10%;
	left: 50%;
	transform: translate(-50%, 0);
	height: 10rem;
	width: 50%;
	background: #3bffdb;
	border-radius: 0.4rem;
	display: grid;
	justify-content: center;
	align-items: center;
	font-size: 4rem;
	cursor: pointer
}
.app_controler_dificulity{
	width: 30%;
	height: 10rem;
	position: absolute;
	top: 55%;
	left: 10%;
	background: #3bffdb;
	border-radius: 0.4rem;
	font-size: 2.5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	cursor: pointer
}
.app_controler_dificulity p {
	padding: 0.5rem;
}
.app_controler_map{
	width: 30%;
	height: 10rem;
	position: absolute;
	top: 55%;
	right: 10%;
	background: #3bffdb;
	border-radius: 0.4rem;
	font-size: 2.5rem;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	cursor: pointer;
}
.app_controler_map p{
	padding: 0.5rem;
}
.app_controler_map-chosse{
	position: absolute;
	right: -20%;
	width: 25%;
	height: 100%;
	overflow: scroll;
	overflow-x: hidden;
}
.app_controler_map-chosse_item{
	display: block;
	margin: 0 auto;
	margin-top: 1rem;
	width: 90%;
	height: 10rem;
	background: #87ceebc4;
	cursor: pointer
}
.app_controler_map-chosse_item p{
	width: 100%;
	height: 100%;
	color: #fff;
	display: grid;
	justify-content: center;
	align-items: center;
	font-size: 2rem;
}
.app_controler_map-chosse::-webkit-scrollbar {
  width: 10px;
}
.app_controler_map-chosse::-webkit-scrollbar-track {
  background: #f1f1f1; 
} 
.app_controler_map-chosse::-webkit-scrollbar-thumb {
  background: #888; 
}
.app_controler_map-chosse::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

/* playground */

.app_playground{
    /* background: #999; */
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 5px;
}
.app_playground_row{
}
.app_playground_col{
	display: inline-block;
	width: 2.4rem;
	height: 2.4rem;
	position: relative;
}
.object{
	position: absolute;
	width: 100%;
	height: 100%;
	display: block
}
.object1{
	/* background: #999; */
}
.object2{
	width: 20%;
	height: 20%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: yellow;
	border-radius: 100%;
}
.object4{
	width: 30%;
	height: 30%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: yellow;
	border-radius: 100%;
}
.object3{
	width: 90%;
	height: 90%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 15%;
	background: skyblue;
}
.pacman{
	position: absolute;
	width: 100%;
	height: 100%;
	transition: 0.1s;
}
.pacman_body{
	display: block;
	width: 100%;
	height: 100%;
	position: relative
}
.pacman-top{
	display: block;
	position: absolute;
	bottom: 0%;
	transform:  rotate(10deg);
	width: 100%;
	height: 50%;
	background: #ffeb3b;
	border-top-left-radius: 100px;
	border-top-right-radius: 100px;
	animation: top 0.2s linear alternate infinite;
}
.pacman-bottom{
	display: block;
	position: absolute;
	top: 0%;
	transform:  rotate(10deg);
	width: 100%;
	height: 50%;
	background: #ffeb3b;
	border-bottom-left-radius: 100px;
	border-bottom-right-radius: 100px;
	animation: bottom 0.2s linear alternate infinite;
}
@keyframes top{
	0%{transform: rotate(180deg)}
	100%{transform: rotate(160deg)}
}

@keyframes bottom{
	0%{transform: rotate(-180deg)}
	100%{transform: rotate(-160deg)}
}



.enemy{
	position: absolute;
	width: 90%;
	height: 90%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 100%;
	transition: 0.1s;
}

.app_gameover{
	width: 25rem;
	height: 20rem;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 4px;
	transition: 0.1s;
	background: skyblue;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center
}
.app_gameover_score{
	font-size: 3rem;
	margin: 2rem 0;
}
.app_gameover_replay{
	font-size: 2rem;
	padding: 0.5rem;
	border: 2px solid #111;
	border-radius: 5px;
	transition: 0.3s;
	cursor: pointer
}
.app_gameover_replay:hover{
	transform: scale(1.05)
}